body{
    margin:0px;
    padding: 0px;
    background-color: #092B40;
    font-family: "Californian FB";
    font-weight:300;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.8em;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.panel-position {
    margin: 10px 174px;

}




